# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependency directories
node_modules/
bower_components/

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg
*.egg-info
*.tar.gz
*.tgz
*.zip

# Logs and databases
*.log
*.sql
*.sqlite
db.sqlite3
